@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Roboto&display=swap');

html {
    
}

:root {
    /* --Playfair: 'Playfair Display', serif;
    --Quciksand: "Quicksand", sans-serif; */
    --Poppins: "Poppins", sans-serif;
    --dark: rgb(95, 116, 100);
    --exDark: rgb(36, 61, 37);
    --back: rgb(250, 217, 230);
    --ascent: rgb(228, 174, 197);
    --font:rgb(27, 27, 27);
}

* {
    padding:0px;
    margin:0px;
    font-family: var(--Poppins);
    
}

body {
    color:var(--font);
    line-height: 1.4;
}

img {
    width:100%;
    display:block;
    
}
/* <!-- HEADER SECTION: Navbar + Banner --> */
.container {
    max-width:1320px;
    padding:0 1.2rem;
    margin: 0 auto;
}

/* header CSS properties */
header {
    min-height:100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), 
                      url('./images/6.jpg'); 
    background-size: cover; /* Make the background image cover the container */
    background-position: center;
    display:flex;
    flex-direction:column;
    justify-content:stretch;
    color:#fff;
   
}

.navbar {
    background: rgba(0,0,0,0.2);
    padding: 1.5rem 2rem;
    
}

.brand_logo {
    font-size: 0.7rem;
    color: #fff;
    display:block;
    text-align:Left;
    text-decoration:none;
    letter-spacing: 1.6px;
    flex:1;
    font-weight:300;
}

.brand_logo a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.nav-container {
    display:flex;
    flex-wrap: wrap;
}

.nav-actions {
    display:block;
}

.nav-actions a {
    font-size: 0.7rem;
    color: #fff;
    display:inline;
    text-align:right;
    text-transform:capitalize;
    text-decoration:none;
    padding:0 0.6rem 0 0;
    letter-spacing: 1.5px;
    transition: opacity 0.5s ease;
    font-weight:300;
}

.nav-actions a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.banner {
    display: flex;
    flex:1;
    align-items:center;
    justify-content:left;
    text-align:left;
    color:#fff;
    padding: 0rem 2rem;
    /* overflow:auto; */
}

/* .banner-container {
    align-items:flex-start;
} */

.banner-title {
    font-size: 1.2rem;
    font-family: var(--Poppins);
    line-height: 1.3;
    margin-bottom: 0.8rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.banner-content {
    font-size: 0.9rem;
    font-family: var(--Poppins);
    line-height: 1.4;
    color:#e8e7e7;
    /* padding: 2rem; */
    margin-bottom: 1.8rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 400;
    /* word-spacing: 0.1rem; */
      
}

.banner form {
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.3rem 0.6rem;
    opacity: 0.3;
    display:flex;
    justify-content: space-between;
    width:11rem;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.041) */
}

.search-input {
    outline: 0;
    font:var(--Poppins);
    font-size: 0.8rem;
    width:100%;
    border:none;
}

.search-input:hover {
    color:rgba(47, 48, 49, 0.918);
    cursor:text;
}

.search-input::placeholder {
    color:rgba(112, 114, 116, 0.918);
    text-transform:capitalize;   
}

.search-button {
    border:none;
    outline: 0;
    background:#fff;
    /* opacity:0.3; */
    font-size: 0.8rem;
    color:rgba(112, 114, 116, 0.918);
}

.search-button:hover {
    color:rgba(47, 48, 49, 0.918);
    cursor: pointer;
}

/* <!-- MAIN SECTION: Paintings --> */
section {
    /* padding: 2rem; */
    border: solid #efefef;
    /* border-width: 0 12rem 0 12rem; */
    background-color: #efefef;
}

/* design */
.design{
    padding: 4.5rem 0;
}

/* .title{
    text-align: center;
    padding: 1rem 0;
    font-family: var(--Poppins);
}


.title p{
    text-transform: capitalize;
    padding: 0.6rem 0;
} */



.title p{
    /* margin:2rem 0; */
    padding: 0 1rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.3rem;
    opacity:0.8;
    letter-spacing: 0.1rem;
}
.title h2{
    margin:0.5rem 0;
    padding: 0 1em;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.design-content{
    margin: 2rem 0;
}

.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}



.design-img{
    position: relative;
    overflow: hidden;
}

.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.design-img img{
    transition:  all 0.5s ease;
}

.design-item:hover img{
    transform: scale(1.1);
}

.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 10px;
    /* background: var(--exDark); */
    color: #fff;
    /* padding: 0.25rem 1rem; */
}

.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 0.6em;
    word-spacing: 0.2rem;
    opacity:0.8;
}

.design-title{
    /* padding: 1rem; */
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    
}

.design-title a{
    color:black;
    text-decoration: none;
    font-family: var(--Poppins);
    /* padding: 1rem 0; */
    font-size: 0.7rem;
    font-weight: 300;
    opacity:0.7;
    /* padding: 0.2rem 0 0.2rem 0; */
    line-height: 0.7rem;
    text-transform: capitalize;
    text-align: left;
}

/* BLOG SECTION */
.blog {
     background:#efefef;
     padding: 4.5rem 0; 
}

.blog-content {
    margin: 2rem 0; 
}

.blog-img {
    position:relative;   
}

.blog-img span {
    position:absolute;   
    bottom: 10px;
    right: 10px;
    color:white;
    opacity:0.5;
    font-size: 1rem;
}

.blog-text {
    margin: 1rem 0;
    padding: 0 0rem;
} 


.blog- text p {
    margin:2rem 0;
    padding: 0 1em;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.3rem;
    opacity:0.8;
    letter-spacing: 0.05rem;
}

.blog-text span{
    font-weight: 200;
    display:block;
    padding-bottom: 0.3rem;
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.blog-text h2{
    font-family: var(--Poppins);
    /* padding: 1rem 0; */
    font-size: 1.2rem;
    font-weight: 500;
    /* letter-spacing: 0.05rem; */
    line-height: 1.5rem;
    color:black;
}

.blog-text p{
    font-family: var(--Poppins);
    /* padding: 1rem 0; */
    font-size: 0.75rem;
    font-weight: 300;
    opacity:0.6;
    padding: 0.2rem 0 0.8rem 0;
    color:black;
    text-align:justify;
}

.blog-text a{
    font-family: var(--Poppins);
    font-size: 0.6rem;
    font-weight: 300;
    opacity:0.5;
    padding: 0.2rem 0.3rem;
    text-decoration:none;
    color:#fff;
    background-color: rgb(63, 4, 4);
    opacity:0.65;
}

.blog-text a:hover{
    opacity:0.8;
    box-shadow: rgb(188, 187, 187) 3px 3px;
    cursor:pointer;
}

.blog-title p{
    font-family: var(--Poppins);
    /* padding: 1rem 0; */
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    color:black;
    text-align:center;
} 


.blog-title h2{
    font-family: var(--Poppins);
    /* padding: 1rem 0; */
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    color:black;
    text-align:center;
} 



/* ABOUT SECTION */
.about {
    padding:1rem 0;
}

.about-img {
    padding-top:1rem;
}

/* .about-text p{
    margin:2rem 0;
    padding: 0 1em;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.3rem;
    opacity:0.8;
    letter-spacing: 0.05rem;
}
.about-text h2{
    margin:2rem 0;
    padding: 0 1em;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
} */

.footer-section {
    background-color: black;
    opacity:0.9;
    color:#efefef;
    text-align:center;
    padding: 3rem 0 1rem 0 ;
    font-family: var(--Poppins);
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    font-weight:300;
}

.social-links {
    display: flex;
    justify-content:center;
    margin-bottom: 0.5rem; 
}

.social-links a {
    display:block;
    display:flex;
    margin-bottom: 1rem;  
    color: #efefef;
    width:40px;
    height:40px;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    opacity:0.9;
}

.social-links a:hover {
    color: #ffffff;
    font-size: 1.3rem;
    opacity:1;   
}

@media screen and (min-width: 540px){
    .banner-title {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }
    .banner-content{
        font-size: 1.1rem;
        font-weight:300;
        letter-spacing:0.1rem;
        line-height:1.6rem;
    }
    .title p{
        /* margin:2rem 0; */
        padding: 0 2rem;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.4rem;
        opacity:0.8;
        letter-spacing: 0.1rem;
        
    }
    .title h2{
        margin:0.8rem 0;
        padding: 0 1em;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.8rem;
        text-align: center;
        letter-spacing: 0.15rem;
    }
    .nav-actions a {
        padding:0 0.3rem 0 0;
        
    }
    
    
}